
:root {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: #FFFFFF;
    background-image: -webkit-image-set();
    min-height: 100vh;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;

}
.bgimage {
    background-image: url("./assets/mountains-universe-1.png");
    background-size: cover;
    
    background-repeat: no-repeat;
}
nav {
    height: 12.2rem;
    align-items: center;
    margin-left: 7.2rem;

}
nav, ul {
    display: inline-flex;

    /* align-items: center; */
}
nav ul {
    gap: 32px;
    list-style: none;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}
a:hover {
    color: #FFFFFF;
    font-weight: bold;
}

main {
    margin-left: 10.2rem;

}
/* Paginas*/

h1 {
    margin-top: 6.3rem;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 125%;
    color: #E1E1E6;
}


main p {
    width: 64.8rem;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 160%;
}

/* home */
main .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 3.2rem;
    gap: .8rem;

    width: 19.5rem;
    height: 4.8rem;

    border: 2px solid #FFFFFF;
    border-radius: .5rem;
    background-color: transparent;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-transform: uppercase;
}


